<div class="footer container">
  <div class="contact">
    <p>
      Ryan Faerman<br />
      Employee at <a href="http://intergi.com/">Intergi Entertainment</a><br />
      ryan@faerman.net
    </p>
  </div>
  <div class="contact">
    <p>
      <a href="http://github.com/ryanfaerman/">github.com/ryanfaerman</a><br />
      <a href="http://twitter.com/ryanfaerman/">twitter.com/ryanfaerman</a><br />
      <a href="http://flickr.com/photos/ryanfaerman/">flickr.com/photos/ryanfaerman</a>
    </p>
  </div>
</div>